<div class="jumbotron container col-12">

  <h1 class="display-3">About</h1>
  <p class="lead">Created by Mike Pasek - 2018</p>
  <hr class="my-4">
  <h5>Technologies Used:</h5>
  <ul>
    <li>Spotify Developer API</li>
    <li>Angular - v5.2.4</li>
    <li>Node - v8.9.4</li>
    <li>Express - v4.16.2</li>
    <li>MongoDB Atlas</li>
    <li>Deployed on AWS</li>
  </ul>
  <br><br>
  <div class="text-muted">
    <h5>Mike Pasek</h5>
    <p>Email: mpasek05@gmail.com</p>
    <p>LinkedIn: <a href="www.linkedin.com/in/mikepasek">www.linkedin.com/in/mikepasek</a></p>
    <p>Github: <a href="https://github.com/mpasek">https://github.com/mpasek</a></p>
  </div>

</div>
