<div class="container" id="playlist-preview">
  <div class="row">
    <div class="col" style="padding-top: 40px">
      <h1>Playlist Preview</h1>
      <h5>{{subtitle}}</h5>
      <h6 class="text-muted">Number of Tracks Saved: {{numberSaved}}</h6><hr>
    </div>
  </div>

  <div class="row">

    <div class="col-3"></div>

    <div class="col-6" [@tracksEnter]="aggregatedTracks?.length">
      <div *ngFor="let track of aggregatedTracks">
        <div>
        <!--<div *ngIf="track.album.images.length > 0">-->
          <span class="col-2">
            <img style="width: 125px; display: block;" src="../../../assets/images/music.svg">
          </span>
          <span class="col-2 clearfix">
            <h3>{{track.artists[0].name}}</h3>
            <h5>{{track.name}}</h5>
            <h6>{{track.album.name}}</h6>
          </span>

          <div class="col-2">

          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <label>Create and Save to Spotify</label>
      <a routerLink="/success"><button class="btn btn-outline-primary">Create</button></a>
      <br/><br/>
      <label>Choose New Dates</label>
      <a routerLink="/aggregatr"><button class="btn btn-outline-secondary">Go Back</button></a>

    </div>

  </div>



</div>
