<body class="container">
  <div class="row module">
    <div class="col-2"></div>
    <div class="col-8">
      <div id="hometitle">AGGREGATR</div>
      <h4 style="padding-bottom: 20px">Organizing your saved Spotify tracks into playlists</h4>
      <!--<a href="http://18.221.243.210:3000/login" class="btn btn-primary">Log in with Spotify</a>-->
      <a href="http://localhost:3000/login" class="btn btn-primary">Log in with Spotify</a>
    </div>
    <div class="col-2"></div>
  </div>
</body>


