<div class="container" id="success">

  <div class="row" style="padding-top: 50px; padding-bottom: 30px">
    <div class="col-3"></div>
    <div class="col-6">
      <h1>Success</h1>
      <h5 class="text-muted">Playlist Added to Your Library</h5><hr>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <!--<div>
        &lt;!&ndash;<button class="btn btn-outline-primary" (click)="onNavigate()">Check Out Your New Playlist</button>&ndash;&gt;
        <a href="{{playlistPath}}"><button class="btn btn-outline-primary">Check Out Your New Playlist</button></a>
      </div><br>-->
      <div>
        <a routerLink="/aggregatr"><button class="btn btn-outline-primary" >Make New Playlist</button></a>
      </div>
      <br/>
      <div>
        <a routerLink="/{{userPath}}" ><button class="btn btn-outline-primary" >Back to Profile</button></a>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

</div>

