<div [formGroup]="form" [ngSwitch]="input.controlType" class="container" *ngIf="!hidden">
  <!-- DROPDOWN -->
  <div class="col-xs-12" *ngSwitchCase="'dropdown'">

    <a class="info-tooltip"><i class="fa fa-question-circle" aria-hidden="true">
    </i></a>
    <span class="help-block"
          *ngIf="!isValid">{{inputError}}</span>
    <select [id]="input.key"
            [formControlName]="input.key">
      <option *ngFor="let opt of input.options"
              [value]="opt.key">{{opt.value}}</option>
    </select>
    <label class="control-label"
           [attr.for]="input.key">{{input.label}}</label>
  </div>
</div>

