<div id="info" class="jumbotron container col-12">

  <h1 class="display-3">What is Aggregatr?</h1>
  <p class="lead">Aggregatr helps you organize the music you love on Spotify</p>
  <hr class="my-4">
  <p>No more forgetting about songs you saved from months, or even years, ago</p>
  <p>Aggregatr generates playlists based on the date that you saved a track - neatly organizing them into chronological units</p>
  <p>Just specify the month and year, and a new playlist will be created for you</p>
  <br><br>

  <em>
    <h6>More Features Coming Soon:</h6>
    <h6>Custom date filters, ability to remove and re-arrange tracks in your aggregated lists, and more to come</h6>
  </em>
  <br>
  <p class="lead">
    <a routerLink="{{user.path}}"><button class="btn btn-primary btn-lg" >Go To Profile</button></a>
  </p>

</div>




