<div class="container">

  <h4 class="title">{{pageName}}</h4>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div *ngFor="let control of controls" class="form-row">
      <dynamic-control [input]="control" [form]="form"></dynamic-control>
    </div>
    <div class="form-row">
<!--
      <button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid">Aggregate</button>
-->
      <!--<a routerLink="/preview">--><button class="btn btn-outline-primary" [disabled]="!form.valid" >Aggregate</button><!--</a>-->
    </div>
  </form>

</div>



<!--<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <fieldset>
    <legend class="title">{{pageName}}</legend>

    <div class="form-group">
      <label for="exampleSelect1">Example select</label>
      <select *ngFor="let control of controls" class="form-control form-row" id="exampleSelect1">
        <dynamic-control [input]="control" [form]="form"></dynamic-control>
      </select>
      <div class="form-row">
        &lt;!&ndash;<button type="submit" class="btn btn-outline-primary" [disabled]="!form.valid">Aggregate</button>&ndash;&gt;
        &lt;!&ndash;<a routerLink="/preview">&ndash;&gt;<button class="btn btn-outline-primary" [disabled]="!form.valid" >Aggregate</button>&lt;!&ndash;</a>&ndash;&gt;
      </div>
    </div>

  </fieldset>
</form>-->
